<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
        
    <bean id="hibernateSessionManager" class="com.dome.base.persistence.HibernateSessionManager">
    </bean>
    
    <bean id="animalDaoImpl" class="com.dome.base.bindings.AnimalDaoImpl">
    </bean>
    <bean id="colorDaoImpl" class="com.dome.base.bindings.ColorDaoImpl">
    </bean>
    <bean id="instructionDaoImpl" class="com.dome.base.bindings.InstructionDaoImpl">
    </bean>
    <bean id="nationalStatusDaoImpl" class="com.dome.base.bindings.NationalStatusDaoImpl">
    </bean>
    <bean id="provincialStatusDaoImpl" class="com.dome.base.bindings.ProvincialStatusDaoImpl">
    </bean>
    <bean id="reservationDaoImpl" class="com.dome.base.bindings.ReservationDaoImpl">
    </bean>
    <bean id="specieDaoImpl" class="com.dome.base.bindings.SpecieDaoImpl">
    </bean>
    <bean id="themeDaoImpl" class="com.dome.base.bindings.ThemeDaoImpl">
    </bean>
    <bean id="qRCodeDaoImpl" class="com.dome.base.bindings.QRCodeDaoImpl">
    </bean>

</beans>