<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:mysql://70.32.108.82:3306/grouptestdb
        </property>
        <property name="hibernate.connection.username">
            sample
        </property>
        <property name="hibernate.connection.password">
            test
        </property>

        <!-- C3p0 -->
        <property name="hibernate.connection.provider_class">
            org.hibernate.connection.C3P0ConnectionProvider
        </property>

        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">300</property>
        <property name="hibernate.c3p0.timeout">120</property>
        <property name="hibernate.c3p0.max_size">25</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_statement">0</property>
        <property name="hibernate.c3p0.preferredTestQuery">select 1;</property>

        <property name="connection.autoReconnect">true</property>
        <property name="connection.autoReconnectForPools">true</property>
        <property name="connection.is-connection-validation-required">true</property>


        <property name="hibernate.show_sql">true</property>
        <property name="connection.autocommit">true</property>
      <!-- <property name="hibernate.hbm2ddl.auto">create</property>-->

        <!-- List of XML mapping files -->
       <!-- <mapping resource="test.hbm.xml"/> -->
        <mapping resource="conf/mapping/color.hbm.xml"/>
        <mapping resource="conf/mapping/instruction.hbm.xml"/>
        <mapping resource="conf/mapping/nationalstatus.hbm.xml"/>
        <mapping resource="conf/mapping/provincialstatus.hbm.xml"/>
        <mapping resource="conf/mapping/reservation.hbm.xml"/>
        <mapping resource="conf/mapping/specie.hbm.xml"/>
        <mapping resource="conf/mapping/animal.hbm.xml"/>
        <mapping resource="conf/mapping/qrcode.hbm.xml"/>
        <mapping resource="conf/mapping/theme.hbm.xml"/>
    </session-factory>
</hibernate-configuration>